:root {
    --card-gab: 5px;
    --detailsGab: 1px;
    --card-background-color: #999;
    --card-background-font-color: #FFF;
    --card-content-background-color: #FFF;
    --card-padding: .75rem;
    --card-border-rardius: .5rem;
}