mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100vh;
}

mat-sidenav {
    width: 40vw;
}

.header {
    margin-bottom: 8px;
}

.container {
    height: 100vh;
    overflow: auto;
    padding: 10px; 
    margin-bottom: 50px;
}

.toolbar-icon {
    display: inline-flex; // Proper verticle alignment
  }
  
  .fill-space {
    flex: 1 1 auto; // Fill space between two icons
  }