<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav role="navigation" mode="push"> </mat-sidenav>

  <mat-sidenav-content fxLayout="column">
    <div class="header">
      <mat-toolbar class="mat-elevation-z4" color="primary">
        <div class="toolbar-icon">
          <mat-icon alt="back arrow"> arrow_back </mat-icon>
        </div>

        <span class="fill-space"></span>

        <div class="toolbar-icon">
          <mat-icon>account_circle</mat-icon>
        </div>
      </mat-toolbar>
    </div>

    <main class="container mat-app-background">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
