@import 'styles/base.tokens';
@import 'styles/bootstrap.styles';

:root {
  --bs-font-sans-serif: 'Inknut Antiqua', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Inknut Antiqua', 'Helvetica Neue', sans-serif;
}
